{% extends "base.html" %}

{% block content %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<style>
body{
    background:#f3f5f7;
}

.login-card{
    width:420px;
    margin:auto;
    margin-top:60px;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.login-header{
    background:linear-gradient(135deg,#1fa34a,#0b7d34);
    color:white;
    text-align:center;
    padding:35px 20px;
}

.login-header h2{
    font-weight:600;
}

.login-body{
    background:white;
    padding:30px;
}

.login-btn{
    background:linear-gradient(135deg,#1fa34a,#0b7d34);
    border:none;
    width:100%;
    padding:10px;
    color:white;
    font-weight:500;
    border-radius:8px;
}

.login-btn:hover{
    opacity:0.9;
}

.signup-text{
    text-align:center;
    margin-top:15px;
}

.signup-text a{
    color:#0b7d34;
    font-weight:500;
    text-decoration:none;
}

.signup-text a:hover{
    text-decoration:underline;
}
</style>

<div class="login-card">

<div class="login-header">
    <h2>Welcome Back</h2>
    <p>Login to access your crop recommendations</p>
</div>

<div class="login-body">

    <form method="post">
         {% csrf_token %}
        <div class="mb-3">
            <label> <i class="fa fa-user-circle"></i> Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label> <i class="fa fa-lock"></i> Password</label>
            {{ form.password }}
        </div>

        <button type="submit" class="login-btn">
            → Login
        </button>

    </form>

    <!-- Signup option added -->
    <div class="signup-text">
        <p>Don't have an account? <a href="/signup/signup/">Sign Up</a></p>
    </div>

</div>

</div>

{% endblock %}
